.nav {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

.nav__list {
  display: flex;
  overflow-y: auto;
  padding: 25px 50px 12px;
  border-right: 1px solid #f0f0f0;

  @include vp-1023 {
    padding: 25px 25px 12px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 125px 25px 12px;
    border-right: none;
  }
}

.nav__list::-webkit-scrollbar {
  display: none;
}

.wrapper--open-menu .nav__list {
  @include vp-767 {
    padding: 30px 25px 12px;
    width: 100%;
  }
}

.nav__item {
  white-space: nowrap;
  margin-right: 60px;
  margin-bottom: 10px;

  @include vp-1023 {
    margin-right: 50px;
  }

  @include vp-767 {
    margin-bottom: 0;
    width: 100%;

    @include hover {
      background-color: #ffe790;
      transform: scale(1.1);
    }
  }
}

.nav__link {
  @include font(13px, 100%, 500);
  text-transform: uppercase;

  display: block;

  @include vp-767 {
    padding: 15px;
    transition: 0.3 ease-in-out;

    @include focus {
      outline: 2px solid $first-color;
      transform: scale(1.1);
    }
  }
}

.wrapper--open-menu .nav__link {
  @include vp-767 {
    padding: 15px 0;
  }
}
