.promo-slider__container {
  padding-top: 20px;

  @include vp-1023 {
    padding-top: 20px;
  }
}

.promo-slider__swiper-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 832px;
    height: 642px;
    background-image: url("../img/background/decor-diamant.png");
    background-repeat: no-repeat;
  }
}

.promo-slider__swiper-button {
  border: 1px solid $first-color;
  border-radius: 50%;
  background-color: transparent;
  width: 54px;
  height: 54px;
  padding: 0;
  z-index: 3;
  cursor: pointer;

  @include vp-1023 {
    width: 44px;
    height: 44px;
  }

  @include vp-767 {
    width: 34px;
    height: 34px;
    border: none;
  }

  &::before,
  &::after {
    display: none;
  }

  &--prev {
    left: 24px;
    top: 45.5%;
    transform: rotate(180deg);
    background-image: url("../img/sprite/arrow-next.svg");
    background-repeat: no-repeat;
    background-position: 17px 21px;

    @include vp-1023 {
      left: 20px;
      top: 44.3%;
      background-position: 13px 16px;
    }

    @include vp-767 {
      top: 52.8%;
      left: 10px;
      background-position: 8px 12px;
    }
  }

  &--next {
    background-image: url("../img/sprite/arrow-next.svg");
    background-repeat: no-repeat;
    background-position: 17px 23px;
    right: 24px;
    top: 46%;
    transform: rotate(360deg);

    @include vp-1023 {
      top: 44%;
      right: 20px;
      background-position: 14px 18px;
    }

    @include vp-767 {
      top: 52.5%;
      right: 10px;
      background-position: 9px 13px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
