.sale-tabs__container {
  padding-top: 120px;

  @include vp-1023 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.sale-tabs__container h2 {
  @include font(40px, 100%, 400);
  font-family: "Prata", "Arial", sans-serif;
}

.sale-tabs__tabs-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.sale-tabs__button {
  border: none;
  display: block;
  width: fit-content;
  padding: 13px 30px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 21px;

  &:not(:last-child) {
    margin-right: 8px;

    @include vp-767 {
      margin-right: 0;
    }
  }

  &--active {
    position: relative;
    background-color: #303030;
    color: $second-color;
  }

  @include vp-767 {
    width: 100%;

    margin-right: 0;
    margin-bottom: 10px;
  }
}

.sale-tabs__content-list {
  display: none;

  &--active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    gap: 20px;
  }

  @media (max-width: 1375px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.sale-tabs__content-item {
  display: flex;
  min-width: 310px;
  min-height: 370px;
  border: 1px solid #f0f0f0;

  @include vp-767 {
    min-width: 100%;
  }
}

.sale-tabs__content-wrapper {
  width: 100%;
}

.sale-tabs__content-image {
  display: flex;
  justify-content: center;
}

.sale-tabs .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 24px;

  @include vp-767 {
    bottom: 230px;
  }
}

.sale-tabs .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #303030;
  background-color: $second-color;
}

.sale-tabs .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  border: 1px solid #303030;
  background-color: #303030;
}
