.sale-tabs__container {
  padding-top: 120px;

  @include vp-1023 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.sale-marker {
  position: absolute;
  padding: 4px;
  display: block;
  text-align: center;
  width: 50px;
  height: 21px;
  background: #5b8a8f;
  border-radius: 15px;
  color: $second-color;
  z-index: 1;
}

.sale-tabs__container h2 {
  @include font(40px, 100%, 400);
  font-family: "Prata", "Arial", sans-serif;
}

.sale-tabs__tabs-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.sale-tabs__button {
  border: none;
  display: block;
  width: fit-content;
  padding: 13px 30px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 21px;

  &:not(:last-child) {
    margin-right: 8px;

    @include vp-767 {
      margin-right: 0;
    }
  }

  &--active {
    position: relative;
    background-color: #303030;
    color: $second-color;
  }

  @include vp-767 {
    width: 100%;

    margin-right: 0;
    margin-bottom: 10px;
  }
}

.sale-tabs__content-list {
  display: none;

  &--active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
  }

  @media (max-width: 1375px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.sale-tabs__content {
  position: relative;
  min-width: 310px;
  min-height: 370px;
  border: 1px solid #f0f0f0;
  padding: 16px 24px 26px;

  &:hover {
    min-height: 480px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
  }

  @include vp-767 {
    min-width: 100%;
  }
}

// preview images in the slide

.sale-tabs__images-list {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 36px;
}

.sale__tabs-image-item {
  width: 200px;
  height: 200px;
}

.hover-slider-indicator {
  display: grid;
  grid-template-columns: repeat(3, 8px);
  gap: 8px;
  justify-content: center;
  position: absolute;
  top: 226px;
  width: 200px;
}

.hover-slider-indicator-dot {
  background-color: $second-color;
  width: 8px;
  height: 8px;
  border: 1px solid #303030;
  border-radius: 50%;
  cursor: pointer;
}

.hover-slider-indicator-dot.active {
  background-color: #303030;
}

// preview images in the slide --- end
.sale__tabs-image-item img {
  width: 100%;
}

.sale-tabs__product-icons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  order: 2;
  position: absolute;
  right: 22px;
}

.sale-tabs__button-icons {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  background-color: transparent;
}

.sale-tabs__product-icon {
  fill: #c9c9c9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--cool {
    margin-bottom: 13px;
  }
}

.sale-tabs__content-price span {
  @include font(18px, 100%, 600);

  margin-right: 8px;
}

.sale-tabs__content-price span + span {
  @include font(14px, 100%, 400);
  color: #8f8f8f;
}

.sale-marker__description p {
  @include font(14px, 160%, 400);
}

.sale-tabs__select {
  width: 100%;
}
