// Colors
// ---------------------------------
$first-color:                     #303030;
$second-color:                    #ffffff;
$tabs-normal:                     #f0f0f0;
$tabs-hover:                      #dddddd;
$basket-hover:                    #505050;
$basket-active:                   #000000;
$icon-normal:                     #c9c9c9;
$icon-hover:                      #979797;
$cool-active:                     #e24b33;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
